[display_status]

[virtual_sdcard]
path: ~/printer_1_data/gcodes
#Change this parameter according to which printer you are using in ChromaPad.
#Example: 3rd printer "path: ~/printer_3_data/gcodes"

[bed_screws]
#You can change these values ​​​​according to the size of your printer and verify manually.
screw1: 0,20
screw2: 290,20
screw3: 0,320
screw4: 290,320

[gcode_macro LOAD_FILAMENT]
gcode:
    {% set extruder_temp = printer['gcode_macro _global_var'].load_filament_extruder_temp|int %}
    {% set current_target_temp  = printer.extruder.target|int %}

    {% if printer.print_stats.state != "printing" %}
        {% if printer.print_stats.state != "paused" %}
            M104 S{extruder_temp}
            M117 Nozzle heating...
            {action_respond_info("Nozzle not hot enough!")}
            {action_respond_info("Nozzle heating...")}
            M109 S{extruder_temp}
        {% else %}
            {% if printer.extruder.target == 0 %}
                M104 S{extruder_temp}
                M117 Nozzle heating...
                {action_respond_info("Nozzle not hot enough!")}
                {action_respond_info("Nozzle heating...")}
                M109 S{extruder_temp}
            {% else %}
                M104 S{printer.extruder.target}
                M117 Nozzle heating...
                {action_respond_info("Nozzle not hot enough!")}
                {action_respond_info("Nozzle heating...")}
                M109 S{printer.extruder.target}
            {% endif %}
        {% endif %}
        M117 Extruding... 
        M83
        G1 E100 F300
        M400
        M117 Extrude Finish
        M400
        {% if current_target_temp == 0 or printer.print_stats.state != "paused"%}
            M104 S160
        {% endif %}
    {% else %}
        {action_respond_info("Don't load filament during printing!!!")}
    {% endif %}
   
[gcode_macro PARK_FILAMENT]
gcode:

   {% set extruder_temp = printer['gcode_macro _global_var'].load_filament_extruder_temp|int %}
    {% set current_target_temp  = printer.extruder.target|int %}

    {% if printer.print_stats.state != "printing" %}
        {% if printer.print_stats.state != "paused" %}
            M104 S{extruder_temp}
            M117 Nozzle heating...
            {action_respond_info("Nozzle not hot enough!")}
            {action_respond_info("Nozzle heating...")}
            M109 S{extruder_temp}
        {% else %}
            {% if printer.extruder.target == 0 %}
                M104 S{extruder_temp}
                M117 Nozzle heating...
                {action_respond_info("Nozzle not hot enough!")}
                {action_respond_info("Nozzle heating...")}
                M109 S{extruder_temp}
            {% else %}
                M104 S{printer.extruder.target}
                M117 Nozzle heating...
                {action_respond_info("Nozzle not hot enough!")}
                {action_respond_info("Nozzle heating...")}
                M109 S{printer.extruder.target}
            {% endif %}
        {% endif %}
        M117 Retracting...
        M83
        G1 E-100 F300
        M400
        M117 Retract Finish
        M400
        {% if current_target_temp == 0 or printer.print_stats.state != "paused"%}
            M104 S160
        {% endif %}
    {% else %}
        {action_respond_info("Don't unload filament during printing!!!")}
    {% endif %}


[gcode_macro SET_FILAMENT_POSITION]
gcode:
    RESPOND TYPE=command MSG="action:prompt_begin Set Filament Position"
    RESPOND TYPE=command MSG="action:prompt_text Make sure the extruder is sufficiently heated and the correct extruder is selected."
    RESPOND TYPE=command MSG="action:prompt_button_group_start"
    RESPOND TYPE=command MSG="action:prompt_button T0|T0|primary"
    RESPOND TYPE=command MSG="action:prompt_button T1|T1|primary"
    RESPOND TYPE=command MSG="action:prompt_button T2|T2|primary"
    RESPOND TYPE=command MSG="action:prompt_button T3|T3|primary"
    RESPOND TYPE=command MSG="action:prompt_button T4|T4|primary"
    RESPOND TYPE=command MSG="action:prompt_button T5|T5|primary"
    RESPOND TYPE=command MSG="action:prompt_button T6|T6|primary"
    RESPOND TYPE=command MSG="action:prompt_button T7|T7|primary"
    RESPOND TYPE=command MSG="action:prompt_button_group_end"
    RESPOND TYPE=command MSG="action:prompt_button_group_start"
    RESPOND TYPE=command MSG="action:prompt_button EXTRUDE|EXTRUDE_H|warning"
    RESPOND TYPE=command MSG="action:prompt_button SET|SET_FILAMENT|warning"
    RESPOND TYPE=command MSG="action:prompt_button_group_end"
    RESPOND TYPE=command MSG="action:prompt_show"
 
[gcode_macro EXTRUDE_H]
gcode:
    {% set temperature = printer.extruder.temperature|int %}
    {% if temperature > 199 %}
    G92 E0
    G1 E20 F500
    G92 E0
    G1 E20 F500
    G92 E0
    G1 E20 F500
    G92 E0
    G1 E20 F500
    G92 E0
    G1 E20 F500
    G92 E0
    {% endif %}

[gcode_macro SET_FILAMENT]
gcode:
    FILAMENT_CUT
    G92 E0
    G1 E-20 F500
    G92 E0
    G1 E-20 F500
    G92 E0
    G1 E-20 F500
    G92 E0
    G1 E-20 F500
    G92 E0