[include MacroJSP.cfg]
[include shell_command.cfg]
[include mainsail.cfg]
#[include sovol-macros.cfg]

[include ./CoPrint/CustomizedMacro.cfg]
[include ./CoPrint/Stock_Macro.cfg]
[include ./CoPrint/chroma_head.cfg]
[include ./CoPrint/cp_macro.cfg]
#[include ./CoPrint/CustomizedMacro.cfg]
[include ./CoPrint/kcm.cfg]
[include ./CoPrint/ecm_1.cfg]
#[include ./CoPrint/Stock_Macro.cfg]
[include ./CoPrint/runout.cfg]

[include timelapse.cfg] # DONT FORGET TO INSTALL THE TIMELAPSE PLUGIN
[include fluidd.cfg] 
# IF YOU ARE USING THE SCREEN THAT COMES WITH THE SV08
[include options/lcd/*.cfg]
[include KAMP_Settings.cfg]
[include GP3D_Macro.cfg]
[include temp_contrl.cfg]




# IF YOU HAVE KLIPPERSCREEN / AN HDMI DISPLAY ATTACHED TO YOUR PRINTER
# [include options/hdmi/*.cfg]

# If you are using the stock probe, keep the following lines as-is.
# If you have an Eddy probe, comment the first and uncomment the second,
# then go read options/probe/eddy.cfg. 
# Also, when using eddy, comment out/remove the [probe] section here in the printer.cfg

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_38FFD705334E4B3133720651-if00
restart_method: command

[mcu ebb42]
canbus_uuid: 557d6a74b942

[mcu micro4]
canbus_uuid: c6f00c2fddd8

#[mcu rp2040]
#serial: /dev/serial/by-id/usb-Klipper_rp2040_4250304B38353816-if00
#restart_method: command

#[mcu rp2040-Plus]
#serial: /dev/serial/by-id/usb-Klipper_rp2040_E4632831CB1C4F39-if00
#restart_method: command

[pause_resume]
[exclude_object]

[temperature_sensor mcu_temp]         
sensor_type: temperature_mcu
min_temp:0
max_temp:100

[temperature_sensor Host_temp]     
sensor_type: temperature_host
min_temp: 0
max_temp: 110

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy           
max_velocity: 700            
max_accel: 40000             
minimum_cruise_ratio: 0.5
max_z_velocity: 20           
max_z_accel: 500             
square_corner_velocity: 5.0 

[quad_gantry_level]          
gantry_corners:              
	-60,-10
	330,330
points:
    0, 10
    0, 332
    302, 332
    302, 10
speed: 300                   
horizontal_move_z: 10       
retry_tolerance: 0.007      
retries: 10                  
max_adjust: 30   

[bed_mesh]
speed: 100
horizontal_move_z: 5
mesh_min: 54, 15
mesh_max: 298, 313
probe_count: 9,9
algorithm: bicubic
bicubic_tension: 0.2
move_check_distance: 5
split_delta_z: 0.025
mesh_pps: 4,4
adaptive_margin: 3
fade_start: 0.6
fade_end: 10
fade_target: 0

[homing_override]
gcode:
  G91 
  G0 Z5 F1200 
  G4 P2000
  {% if not rawparams or 'Y' in rawparams %}
    {action_respond_info('Homing Y')}
    G28 Y
    G90
    G0 Y165 F2000
    M400 
  {% endif %}
  {% if not rawparams or 'X' in rawparams %}
    {action_respond_info('Homing X')}
    G28 X
    G90 
    G0 X165 F2000
    M400
  {% endif %}
  {% if not rawparams or 'Z' in rawparams %}
    {action_respond_info('Homing Z')}
    G90 
    G0 X165 Y165 F2000
    G28 Z
    G91 
    G0 Z5 F1200 
    M400 
  {% endif %}
  G90
axes: xyz
set_position_z: 0
#--------------------------------------------------------------------

[extruder_stepper ex9]
extruder:
step_pin: micro4:gpio6
dir_pin: !micro4:gpio3
enable_pin: !micro4:gpio7
microsteps: 16
rotation_distance: 12.0

[extruder_stepper ex10]
extruder:
step_pin: micro4:gpio1
dir_pin: !micro4:gpio0
enable_pin: !micro4:gpio2
microsteps: 16
rotation_distance: 12.0

#--------------------------------------------------------------------  
[stepper_x]
step_pin: PE2
dir_pin: !PE0
enable_pin: !PE3
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_x: virtual_endstop
position_min: 0 # JEREMY - -13               
position_endstop: 330 # JEREMY - 333
position_max: 330 # JEREMY - 333 
homing_speed: 25 # JEREMY - 25	
homing_retract_dist: 0        
homing_positive_dir: True

[tmc2209 stepper_x]
uart_pin: PE1
interpolate: True             
run_current: 1.5              
sense_resistor: 0.150         
stealthchop_threshold: 0
uart_address:3
driver_sgthrs: 50
diag_pin: PE15
driver_TBL: 1     # JEREMY ADD
driver_TOFF: 3    # JEREMY ADD
driver_HSTRT: 7   # JEREMY ADD
driver_HEND: 5    # JEREMY ADD

#--------------------------------------------------------------------
[stepper_y]
step_pin: PB8
dir_pin: !PB6
enable_pin: !PB9
rotation_distance: 40        
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_y: virtual_endstop
position_min: 0               
position_endstop: 358 # JEREMY - 358         
position_max: 358 # JEREMY - 358            
homing_speed: 25 # JEREMY - 25             
homing_retract_dist: 0        
homing_positive_dir: True

[tmc2209 stepper_y]
uart_pin: PB7
interpolate: True             
run_current: 1.5              
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 65 # JEREMY - 65
diag_pin: PE13
driver_TBL: 1     # JEREMY ADD
driver_TOFF: 3    # JEREMY ADD
driver_HSTRT: 7   # JEREMY ADD
driver_HEND: 5    # JEREMY ADD
#--------------------------------------------------------------------
[stepper_z] #motherboard：Z3 
step_pin:PC0    
dir_pin:PE5    
enable_pin:!PC1    
rotation_distance: 40        
gear_ratio: 80:12             
microsteps: 16                
endstop_pin: probe:z_virtual_endstop           
position_max: 344.000             
position_min: -5              
#position_endstop: 0
homing_speed: 15.0
homing_retract_dist: 5.0
homing_retract_speed: 15.0
second_homing_speed: 10.0

[tmc2209 stepper_z]
uart_pin: PE6 
interpolate: true             
run_current: 0.50
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z1] ##motherboard：Z1
step_pin:PD3  
dir_pin:!PD1 
enable_pin:!PD4 
rotation_distance: 40        
gear_ratio: 80:12            
microsteps: 16               

[tmc2209 stepper_z1]
uart_pin:PD2  
interpolate: true             
run_current:  0.50
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z2] ##motherboard：Z2
step_pin:PD7
dir_pin:PD5   
enable_pin:!PB5
rotation_distance: 40      
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z2]
uart_pin:PD6  
interpolate: true             
run_current: 0.50
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z3] ##motherboard：Z4
step_pin:PD11 
dir_pin:!PD9 
enable_pin:!PD12   
rotation_distance: 40        
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z3]
uart_pin:PD10    
interpolate: true            
run_current: 0.50
sense_resistor: 0.150         
uart_address:3
stealthchop_threshold: 999999 
#--------------------------------------------------------------------
#[filament_switch_sensor filament_sensor]
#pause_on_runout: True
#event_delay: 3.0
#pause_delay: 0.5
#switch_pin: PE9

[thermistor my_thermistor]
temperature1:25
resistance1:100000
temperature2:50
resistance2:18085.4
temperature3:100
resistance3:5362.6

[heater_bed]
heater_pin:PA0
sensor_type: my_thermistor  
sensor_pin: PC5
max_power: 1.0               
min_temp: 5                  
max_temp: 105                
control : pid
pid_kp : 73.571
pid_ki : 1.820
pid_kd : 783.849

[verify_heater heater_bed]      
max_error: 120                
check_gain_time:40           
hysteresis: 5                
heating_gain: 2 

#[verify_heater extruder]      
#max_error: 120                
#check_gain_time:30           
#hysteresis: 5                
#heating_gain: 2               

[fan_generic exhaust_fan] # exhaust fan
pin: PA2
max_power: 1.0

#[temperature_fan MCU_fan]
[temperature_fan MCU/host_fan/host_temps]
pin: PA1
kick_start_time: 0.5
max_power: 1.0
min_temp: 0
max_temp: 110
hardware_pwm: true
target_temp: 60
sensor_type: temperature_host # please comment out or remove the [temperature_sensor Host_temp] section if you don't want the temperature shown twice in the interface.
max_speed: 1.0
min_speed: 0.37
control: pid
pid_Kp: 2.0     ;40
pid_Ki: 5.0     ;0.2
pid_Kd: 0.5     ;0.1
pid_deriv_time: 2.0
#control: watermark # use this control if pid control does not work for your fan

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PA8,   EXP1_2=PC9,
    EXP1_3=PA10,  EXP1_4=PA9,
    EXP1_5=PC11,  EXP1_6=PC10,
    EXP1_7=PD8,   EXP1_8=PC12,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PB14,  EXP2_2=PB13,
    EXP2_3=PC7,   EXP2_4=PB12,
    EXP2_5=PC6,   EXP2_6=PB15,
    EXP2_7=PC8,   EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>


[gcode_arcs]                       
resolution: 1.0    

[output_pin main_led]
pin:PA3
pwm: 1
value:1
cycle_time: 0.001

[idle_timeout]
gcode: _IDLE_TIMEOUT
timeout: 3600

[input_shaper]
damping_ratio_x: 0.001
damping_ratio_y: 0.001

[neopixel ccs_rgb]         # JEREMY ADDED
pin: ebb42: PD3
chain_count: 75
color_order: GRB
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_white: 0.0

#[neopixel ccs_rgb2]         # JEREMY ADDED
#pin: micro4:gpio11
#chain_count: 25
#color_order: GRB
#initial_RED: 1.0
#initial_GREEN: 0.0
#initial_BLUE: 0.0
#initial_white: 0.0

[gcode_macro WLED_ON]
description: Turn WLED strip on using optional preset and resets led colors
gcode:
  {% set strip = params.STRIP|default("SV08")|string %}
  {% set preset = params.PRESET|default(4)|int %}

  {action_call_remote_method("set_wled_state", strip=strip, state=True, preset=preset)}

[gcode_macro led_heating]
gcode: WLED_ON STRIP=SV08 PRESET=5

[gcode_macro led_mesh]
gcode:
  WLED_ON STRIP=SV08 PRESET=6

[gcode_macro led_printing]
gcode:
  WLED_ON STRIP=SV08 PRESET=3

[gcode_macro led_finished]
gcode:
  WLED_ON STRIP=SV08 PRESET=4

[gcode_macro led_OFF]
gcode: 
  WLED_ON STRIP=SV08 PRESET=8




[save_variables]
filename = ~/printer_data/config/saved_variables.cfg

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 14.278
#*# pid_ki = 0.491
#*# pid_kd = 103.874
#*#
#*# [input_shaper]
#*# shaper_type_x = 3hump_ei
#*# shaper_freq_x = 91.4
#*# shaper_type_y = zv
#*# shaper_freq_y = 43.4
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.090000, 0.084375, 0.088125, 0.093750, 0.073125, 0.075000, 0.067500, 0.076875
#*# 	  0.084375, 0.065625, 0.048750, 0.054375, 0.033750, 0.037500, 0.018750, 0.031875
#*# 	  0.076875, 0.039375, 0.022500, 0.020625, -0.005625, -0.015000, -0.011250, -0.007500
#*# 	  0.067500, 0.030000, 0.001875, -0.005625, -0.031875, -0.041250, -0.020625, -0.020625
#*# 	  0.028125, -0.020625, -0.041250, -0.056250, -0.084375, -0.103125, -0.078750, -0.073125
#*# 	  -0.013125, -0.060000, -0.086250, -0.099375, -0.129375, -0.131250, -0.108750, -0.103125
#*# 	  -0.022500, -0.082500, -0.118125, -0.129375, -0.150000, -0.157500, -0.146250, -0.150000
#*# x_count = 8
#*# y_count = 7
#*# mesh_x_pps = 4
#*# mesh_y_pps = 4
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 65.0
#*# max_x = 264.99
#*# min_y = 65.0
#*# max_y = 264.97999999999996
#*#
#*# [probe]
#*# z_offset = 2.787
